<div class="vh-100 vw-100   flex-row justify-content-center align-items-center">
  <form class="w-50 mt-5 " [formGroup]="formGroup" (ngSubmit)="addStudent()" >
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" formControlName="name" placeholder="Name">
      </div>
      <div class="col">
        <input type="number" class="form-control" formControlName="age" placeholder="Age">
      </div>
    </div>
   <div class="row mt-5">
     <div class="col">
       <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
     </div>

     <div class="col">
       <input type="text" class="form-control" formControlName="sector" placeholder="Sector">
     </div>
   </div>
    <button type="submit" class="btn btn-primary mt-5">Add</button>
  </form>
</div>
